@font-face {
  font-family: "robot";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("ttf"),
    url("./assets/fonts/Roboto-Bold.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: robot, Roboto, sans-serif;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(231, 7%, 60%);
}

h1 {
  margin-top: 2.25rem;
}

@media screen and (max-width: 376px) {
  .illu-desktop {
    display: none;
  }
  form {
    margin-inline: 24px;
  }

  h1,
  .description {
    margin-bottom: 24px;
  }

  li {
    display: flex;
    align-items: flex-start;
  }
  li img {
    margin-right: 10px;
    width: 22px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 44px;
  }
  label {
    font-weight: bold;
    font-size: 12px;
  }

  input,
  button {
    height: 56px;
    width: 100%;
    border-radius: 8px;
  }

  input {
    border: 1px solid var(--grey);
    padding-left: 24px;
  }

  button {
    color: var(--white);
    background-color: var(--dark-slate-grey);
    font-weight: bold;
    margin-bottom: 40px;
  }
  .mail{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
  }
}
