@font-face {
  font-family: "robot";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("ttf"),
    url("./assets/fonts/Roboto-Bold.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: robot, Roboto, sans-serif;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(231, 7%, 60%);
}

main {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--charcoal-grey);
}

.card {
  height: 641px;
  width: 928px;
  background-color: var(--white);
  border-radius: 36px;
  display: flex;
  justify-content: space-between;
}

form {
  margin-block: 100px;
  margin-inline: 64px;
}

.illu-mobile {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 44px;
}

li {
  display: flex;
  align-items: flex-start;
  list-style: none;
}

li img {
  width: 22px;
  margin-right: 18px;
}

.mail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

input,
#btn {
  height: 56px;
  width: 100%;
  border-radius: 8px;
}

input:not(#btn) {
  border: 1px solid var(--grey);
  padding-left: 24px;
}

#btn {
  color: var(--white);
  background-color: var(--dark-slate-grey);
  font-weight: bold;
  border: none;
  margin-bottom: 40px;
  cursor: pointer;
}

h1 {
  font-size: 56px;
  margin-bottom: 36px;
}
.description {
  margin-bottom: 28px;
}

.illustration:nth-of-type(2) {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

#btn:active {
  background: rgb(255, 83, 123);
  background: linear-gradient(
    90deg,
    rgba(255, 83, 123, 1) 0%,
    rgba(255, 105, 59, 1) 100%
  );
}

.input:focus{
  outline: 1px solid black;
}

.labelAndError {
  display: flex;
  justify-content: space-between;
}

label,
#error {
  font-weight: bold;
  font-size: 12px;
}

#error {
  color: var(--tomato);
  display: none;
}

@media screen and (max-width: 376px) {
  main {
    display: block;
  }

  .card {
    height: auto;
    width: auto;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }

  .illu-desktop {
    display: none;
  }

  .illu-mobile {
    display: block;
  }
  form {
    margin-inline: 24px;
    margin-block: 40px;
  }
  li img {
    margin-right: 10px;
  }

  h1 {
    font-size: 40px;
  }

  .description {
    margin-top: 2.25rem;
  }

  ul {
    gap: 1rem;
  }
}
